/* Controller */

#controller {
    z-index: 2;
    width: 100px;
    margin-left: 10px;
    position: fixed;
    left: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Buttons */

#controller>button {
    cursor: pointer;
    padding: 2px;
    margin: 0;
    border: 0;
    background-color: #1f1f1f;
    color: #ebebeb;
    font-size: 11px;
}

#controller>button:hover {
    background-color: #1C0600;
    border-left: 2px solid #00CE96;
}

#controller>#hideControlls {
    background-color: #1f1f1f;
    border: none;
}

/* Range */
#controller>input[type="range"] {
    -webkit-appearance: none;
    background: #1f1f1f;
    border: 1px solid rgba(0,206,150, 0.3);
    background-repeat: no-repeat;
    margin: 0;
}

#controller>input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #00CE96;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
}

#controller>input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}